* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif,Arial;
}
body{
    background-color: #284282;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/pxl-congress2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
nav img{
    width: 150px;
}
.nav-list {
    flex: 1;
    text-align: right;
}
.nav-list ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-list ul li a{
    color: #D6F0EE;
    text-decoration: none;
    font-size: 13px;
}

.nav-list ul li:hover::after{
    content:"";
    width: 100%;
    height:2px;
    background: #284282;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.about_box{
    width: 90%;
    color: #D6F0EE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.about_box h1{
    font-size: 40px;
    border-radius:25px;
}
.section_text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding:0 80px;

}
.image_pxl{
    width: 90%;
    height: auto;
    margin: auto;
}
.image_pxl img{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    border:1px solid #2A8C89;
    display: block;
    margin: auto;

}
article{
    width: 90%;
}
article h3{
    font-size: 22px;
    font-weight: 500;
}
article p{
    font-size: 17px;
    margin-top: 25px;
}